<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Upload de Imagens</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="button" id="fileButton" class="btn btn-success" disabled>Incluir Fotos</button>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="form-control" id="fileInput" multiple disabled>
                            @*<label class="custom-file-label" for="inputGroupFile01">Escolha o arquivo</label>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>
